<%= render 'users/userlist', user: @user %>
<%= render '/books/booklist', book: @book %>

<h2>Books</h2>

 <% @books.each do |book| %>
 
  <table class="table table-hover table-inverse">
   <thead>
    <tr>
     <th></th>
     <th>Title</t>
     <th>Opinion</th>
     <th colspan="3"></th>
   <tbody>
      <span><%= link_to @user.name,"/users/#{@user.id}" %></span>
      <span><%= link_to book.title,"/books/#{book.id}" %></span>
      <p><%= book.body %></p>
   </tbody>
  </thead>
 </table>
 
 <% end %>
