<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   
   <h1>Editing Book</h1>

  <%= form_with model: @books do |f| %>
   <h7>Title</h7><br>
   <%= f.text_field :title %><br>
   <h7>Opinion</h7><br>
   <%= f.text_area :body %><br>
 
<%= f.submit 'Update Book', class: 'btn btn-success' %><br>

<%= link_to "Show", book_path(@books.id) %>
<%= link_to "Back", books_path %>

<% end %>