
<%= render 'booklist', book: @book %>

   <h2>Books</h2>
    <% @books.each do |book| %>
   
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    
    <tbody>
      <p><%= image_tag 'no_image.jpg' %></p>
      <%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>
      <% end %>
      <p><%= book.body %></p>
    </thead>
   </table>
  </div>
 </div>
</div>
 
  <% end %>


