<%= render 'booklist', book: @book %>

<h2>Book detail</h2>

<div>
 <p><%= image_tag 'no_image.jpg' %></p>
 <%= link_to book_path(@books.id) do %>
 <p><%= @books.title %></p>
 <% end %>
 <p><%= @books.body %></p>
 
 <%= link_to "Edit", edit_book_path(@books.id), class: 'btn btn-success' %>

 </div>
 
