<h2>Book detail</h2>

<div>
 <p><%= image_tag 'no_image.jpg' %></p>
 <p><%= @books.title %></p>
 <p><%= @books.body %></p>
 
<%= link_to "Edit", edit_book_path(@book.id) %> 
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
 </div>
 
