<%= render '/users/userlist', user: @user, book: @book %>
<%= render '/books/booklist', book: @book %>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<div>
 <p><%= image_tag @books.user.get_profile_image(80,80) %></p>
 <%= link_to user_path(@books.user.id) do %>
 <p><%= @books.user.name %></p>
 <% end %>
 <%= link_to book_path(@books.id) do %>
  <p><%= @books.title %></p>
 <% end %>
 <p><%= @books.body %></p>
 
 
 <% if @books.user == current_user %>
 <%= link_to "Edit", edit_book_path(@books.id), class: 'btn btn-success' %>
 <%= link_to "Destroy", book_path(@books), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %>
 <% end %>

 </div>
 </div>
 
