
<div class="container">
 <div class="row">
  <div class="col-md-3">
   
   <h2>User info</h2>
   
   <table class="tabel">
       <tbody>
        <tr>
          <td><%= image_tag @books.user.get_profile_image(80,80) %></td>
          <td>name<%= @books.user.name %></td>
          <td>introduction<%= @books.user.introduction %></td>
         </tr>
            <div class="row">
             
          <%= link_to edit_user_path(@books.user.id), class: "btn btn-outline-secondary" do %> 
               <i class="fas fa-user-cog"></i>
               <% end %>


<%= render '/books/booklist', book: @book %>

<h2>Book detail</h2>

<div>
 <p><%= image_tag @books.user.get_profile_image(80,80) %></p>
 <%= link_to user_path(@books.user.id) do %>
 <p><%= @books.user.name %></p>
 <% end %>
 <%= link_to book_path(@books.id) do %>
  <p><%= @books.title %></p>
 <% end %>
 <p><%= @books.body %></p>
 
 
 <% if @books.user == current_user %>
 <%= link_to "Edit", edit_book_path(@books.id), class: 'btn btn-success' %>
 <%= link_to "Destroy", book_path(@books), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %>
 <% end %>

 </div>
 
